<div class="app" id="app" *ngIf="isSignedIn(); else login">
  <button class="btn btn-block btn-danger" (click)="logOut()" >LOG OUT</button>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Welcome to {{ title }}!</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button [routerLink]="['./score']">Score</button>
      <button mat-button [routerLink]="['./play']">Play</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card>
    <router-outlet></router-outlet>
    <mat-card-footer>Hi, I'm the footer</mat-card-footer>
  </mat-card>
</div>

<ng-template #login>
  <button class="btn btn-block btn-default" (click)="logIn()" >LOG IN</button>
</ng-template>



