<div class="row">
  <div class="col col-6">
    <div class="circle" *ngFor="let circle of circle1.number; let i = index">
      <ng-container *ngIf="circle < 21; else icon">
        <button class="mat-fab">{{ circle }}</button>
      </ng-container>
    </div>
  </div>

  <div class="col col-6">
    <div class="circle" *ngFor="let circle of circle1.number; let i = index">
      <ng-container *ngIf="circle < 21; else icon">
        <button class="mat-fab">{{ circle }}</button>
      </ng-container>
    </div>
  </div>
</div>

<!-- templates -->
<ng-template #icon>
  <button class="mat-fab">
    <i class="material-icons">track_changes</i>
  </button>
</ng-template>
