<div class="row">
  <div class="col col-5"> puntos {{ column1.points }} </div>
  <div class="col col-5"> puntos {{ column2.points }} </div>
</div>
<div class="row">
  <div class="col col-6">
    <div class="circle" *ngFor="let circle of column1.circles; let i = index">
      <button class="mat-fab" [ngClass]="selectState(circle)" (click)="addPoints(column1, circle)" >
        <ng-container *ngIf="circle.number < 21; else icon">
        {{ circle.number }}
        </ng-container>
      </button>
    </div>
  </div>

  <div class="col col-6">
    <div class="circle" *ngFor="let circle of column2.circles; let i = index">
      <button class="mat-fab" [ngClass]="selectState(circle)" (click)="addPoints(column2, circle)" >
        <ng-container *ngIf="circle.number < 21; else icon">
        {{ circle.number }}
        </ng-container>
      </button>
    </div>
  </div>
</div>

<!-- templates -->
<ng-template #icon>
    <i class="material-icons">track_changes</i>
</ng-template>
