.circle {
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}
.once {
  background-color: #4b77be;
  border: 1em solid #fff;
}

.twice {
  background-color: #4b77be;
}

.closed {
  background-color: #e74c3c;
}

